<!DOCTYPE html>
<html ng-app="demoApp">
    <head>
        <title>angular-suunto-parser demo application</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body ng-controller="demoCtrl">
        <div class="container-fluid text-center">
            <h1>Try to upload a DM5 XML file</h1><br><br>
            <div ng-if="dive" class="text-primary">
                <h2>Dive on {{dive.Dive.StartTime | date:'medium'}}</h2>
                <h3>Temperature: {{dive.Dive.StartTemperature}}°C</h3>
                <h3>Max depth: {{dive.Dive.MaxDepth}}m</h3>
                <h3>Duration: {{dive.Dive.Duration}}s</h3>
            </div>
            <div>
                <span>Upload a file:</span>
                <form>
                    <button class="btn btn-primary" ng-click="selectFile()">Upload Your File</button>
                    <input type="file" style="display:none" 
                       id="file" name='file' onchange="angular.element(this).scope().fileChanged(this)" />
               </form>  
            </div>
        </div>
        

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="app.js"></script>
        <script src="node_modules/angular-suunto-parser/dist/suunto-parser.js"></script>
        <script src="node_modules/angular-x2js/dist/x2js.min.js"></script>
        <script src="node_modules/x2js/dist/x2js.min.js"></script>
    </body>
</html>